* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}
nav {
    
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background: linear-gradient(90deg, #3498db, #2c3e50);
    /* border-bottom: 3px solid black; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
    padding:10px 15px;
}
nav a:hover {
    background-color: #f1c40f;
    color:black;
    transform: scale(1.1);
}
.container
{
    width:520px;
    margin:50px auto;
    border:2px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap:20px;
    align-items: center;
}
img
{
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); 
}